@font-face {
  font-family: "Museo Sans";
  src: url("../fonts/MuseoSans100.woff2")
      format("woff2"),
    url("../fonts/MuseoSans100.woff")
      format("woff");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "Museo Sans";
  src: url("../fonts/MuseoSans100Italic.woff2")
      format("woff2"),
    url("../fonts/MuseoSans100Italic.woff")
      format("woff");
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: "Museo Sans";
  src: url("../fonts/MuseoSans300.woff2")
      format("woff2"),
    url("../fonts/MuseoSans300.woff")
      format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Museo Sans";
  src: url("../fonts/MuseoSans300Italic.woff2")
      format("woff2"),
    url("../fonts/MuseoSans300Italic.woff")
      format("woff");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "Museo Sans";
  src: url("../fonts/MuseoSans500.woff2")
      format("woff2"),
    url("../fonts/MuseoSans500.woff")
      format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Museo Sans";
  src: url("../fonts/MuseoSans500Italic.woff2")
      format("woff2"),
    url("../fonts/MuseoSans500Italic.woff")
      format("woff");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "Museo Sans";
  src: url("../fonts/MuseoSans700.woff2")
      format("woff2"),
    url("../fonts/MuseoSans700.woff")
      format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Museo Sans";
  src: url("../fonts/MuseoSans700Italic.woff2")
      format("woff2"),
    url("../fonts/MuseoSans700Italic.woff")
      format("woff");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "Museo Sans";
  src: url("../fonts/MuseoSans900.woff2")
      format("woff2"),
    url("../fonts/MuseoSans900.woff")
      format("woff");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Museo Sans";
  src: url("../fonts/MuseoSans900Italic.woff2")
      format("woff2"),
    url("../fonts/MuseoSans900Italic.woff")
      format("woff");
  font-weight: 900;
  font-style: italic;
}
